
/*Header*/

.header h1{
	padding-left: 50px;
	font-family: 'Quicksand', sans-serif;
	color: #4678B2;
	font-size: 44px;
}

.header h2{
	padding: 15px 50px 0 0;
	float:right;
	font-family: 'Quicksand', sans-serif;
	color: #B25D55;
	font-size: 24px;
}

/*Banner*/

/*Recipies*/

.recipes h3{
	font-family: 'Bentham', sans-serif;
	font-size: 28px;
	color: #404040;
	text-align: center;
	padding-bottom: 30px;

}

.recipes h4, p {
	text-align: center;

}

.recipes h4{
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Inconsolata', sans-serif;
}

.recipes p {
	padding-bottom: 20px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

.recipe-container{
	background-color: #F0F0F0;
}

.gallery img {
	padding-top: 30px;
	width: 300px;
	max-height: 400px;
	display: block;
	margin: 0 auto;
}


.col-md-4 {
	

}

html, body {
  margin: 0;
  padding: 0;
  height:100%;
}

@media (max-width: 500px) {
  .header h1 {
    text-align: center;
  }

