
/*Header*/

.header h1{
	padding-left: 50px;
	font-family: 'Quicksand', sans-serif;
	color: #4678B2;
	font-size: 44px;
}

.header h2{
	padding: 15px 50px 0 0;
	float:right;
	font-family: 'Quicksand', sans-serif;
	color: #B25D55;
	font-size: 24px;
}

/*Banner*/

/*Recipies*/

.recipes h3{
	font-family: 'Bentham', sans-serif;
	font-size: 28px;
	color: #404040;
	text-align: center;
}

.gallery img {
	width: 300px;
	max-height: 400px;
}



html, body {
  margin: 0;
  padding: 0;
  height:100%;
}

@media (max-width: 500px) {
  .header h1 {
    text-align: center;
  }

