<!DOCTYPE html>
<html ng-app="recipeBook">
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link href='https://fonts.googleapis.com/css?family=Quicksand|Bentham|Inconsolata' rel='stylesheet' type='text/css'/>
		<link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css"/>
		<script type="text/javascript" src="angular.min.js"></script>
    	<script type="text/javascript" src="app.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="row">
			<!-- Logo -->
				<div class="col-sm-3">
					<h1>Recipe Box</h1>
				</div>
			<!-- Description -->
				<div class="col-sm-9">
					<h2> A storage place for all recipies-breakfast, lunch, dinner, and desserts!</h2>
				</div>
			</div>
		</div>

		<div class="banner">
			<!-- Full panel or latest recipies -->
		</div>

		<div class="recipes">
			<div class="row">
				<div class="container">
					<div class="col-md-4" ng-controller="BrunchRecipeController as recipe">
						<h3>Brunch</h3>

					</div>
					
					<div class="col-md-4" ng-controller="DinnerRecipeController as recipe">
						<h3>Dinner</h3>
						<div class="recipe-container">
							<div ng-repeat="recipe in recipe.products">
								<div class="gallery">
									<img ng-src='{{recipe.images}}'/>
								</div>
								<h4>{{recipe.name}}</h4>
								<p>{{recipe.ingredients}}</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-4" ng-controller="DessertRecipeController as recipe">
						<h3>Desserts</h3>
						<div ng-repeat="recipe in recipe.products">
							<div class="gallery">
								<img ng-src='{{recipe.images}}'/>
							</div>
							<h4>{{recipe.name}}</h4>
							<p>{{recipe.ingredients}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer">
		</footer>
	</body>
</html>